<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>Amazona</title>
    </head>
    <body class="grid-container">
        <header class="row">
            <div>
                <a class="brand" href="index.html">amazona</a>
            </div>
            <div>
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sing In</a>
            </div>
        </header>
        <main>
            <ul>
                <li>Product 1</li>
                <li>Product 1</li>
                <li>Product 1</li>
                <li>Product 1</li>
            </ul>
        </main>
        <footer class="row center">All right reserved</footer>
    </body>
</html>